.saite {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 8fr 4fr;
    background-image: url("../../assets/background_main.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: var(--primary_blue);
    padding: 40px 0;
    height: 493px;

    .saite-title-box {
        display: grid;
        place-items: center;

        span {
            text-transform: uppercase;
            color: #fff;
            font-size: 5rem;
        }
    }

    .content-saite{
        display: grid;
        place-items: center;

        p {
            font-size: 1.8rem;
            margin-bottom: 30px;
            color: #fff;
        }

    }
}

@media screen and (max-width: 900px) {
    .saite {
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content-saite {
            grid-template-columns: 2fr 1fr;
            margin: 0px 30px;
        }
    }
}

@media screen and (max-width: 700px) {
    
    .saite {
        height: 490px;
        
        .content-saite {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}