* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root {
    font-size: 100%;
    --primary_blue: #4441df;
    --hover_blue: #2b2996;
    --primary_pink: #F51051;
    --hover_pink: #9b0d35;
    --grey: #DADADA;
    --baby_blue: #E7F6FC;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary_pink);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

@media screen and (max-width: 1100px) {
    :root {
        font-size: 90%;
    }
}
@media screen and (max-width: 450px) {
    :root {
        font-size: 70%;
    }
}