footer {
    background-color: var(--baby_blue);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 701px) {
    
    footer {
        height: 126px;
    }
}