.title-parceiros {
    margin: 70px 116px;
    background-color: #F9F9F9;
    padding: 30px 0px;
}

.container-blue {
    background-color: var(--primary_blue);
    height: 390px;
}


@media screen and (max-width: 900px) {
    .title-parceiros {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media screen and (max-width: 450px) {
    .title-parceiros {
        margin-left: 30px;
        margin-right: 30px;
    }
}